<li class="list-group-item 2DO-task">
	{{task}}
        {{#if complete}}
        <button class="change-complete" data-id="{{id}}" data-newcomplete="{{complete}}">
            reactivate
        </button>
        {{else}}
        <button class="change-complete action-button" data-id="{{id}}" data-newcomplete="{{complete}}">
            <img id = "done" src = "assets/images/done.png">
        </button>
        {{/if}}

        <button class="delete-task action-button" data-id="{{this.id}}"><img id = "delete" src = "assets/images/delete.png"></button>
</li>
